.diy-slideshow{
  position: relative;
  display: block;    
}
.diy-slideshow figure{
  position: absolute;
  top: 0;
}
.diy-slideshow figure:first-child{
  position: relative;
}
.diy-slideshow figure img{
  opacity: 0;
  transition: opacity 1.2s;
  backface-visibility: hidden;
}
.diy-slideshow figure.show img{
  opacity: 1;
  backface-visibility: hidden;
}

.diy-slideshow figcaption{
  position: absolute;
  font-family: sans-serif;
  font-size: .8em;
  bottom: .75em;
  right: .35em;
  padding: .25em;
  color: #fff;
  background: #000;
  background: rgba(0,0,0, .25);
  border-radius: 2px;
  opacity: 0;
  transition: opacity 1.2s;
}
.diy-slideshow figure.show figcaption{
  z-index: 2;
  opacity: 1;
}
.diy-slideshow figcaption a{
  color: #fff;    
}
.diy-slideshow .next, .diy-slideshow .prev{
  color: #fff;
  position: absolute;
  background: #000;
  background: rgba(0,0,0, .6);
  top: 50%;
  z-index: 1;
  font-size: 2em;
  margin-top: -1.2em;
  opacity: .3;
  user-select: none;
}
.diy-slideshow .next:hover, .diy-slideshow .prev:hover{
  cursor: pointer;
  opacity: 1;
}
.diy-slideshow .next{
  right: -1px;
  padding: 10px 5px 15px 10px;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}
.diy-slideshow .prev{
  left: 0;
  padding: 10px 10px 15px 5px;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}