*{margin:0;padding:0;}
body {
  background: #111; 
  font-family: 'Open Sans', sans-serif;    
  color: #fff;   
  overflow-x: hidden;    
}
header{
  position: absolute;
  z-index: 9999;
  width: 100%;    
  background: rgba(0,0,0,.5);    
}
h1, h2, h3{   
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: 700; 
}    
h1{   
 margin: .2em .5em;
 display: inline-block;       
}
header p{
 display: inline-block; 
 font-size: .9em;    
}
.content{
    margin: 1em 2em;    
}
.content ul{
    margin: 1em 2em;   
}
.gist{
    width: 90%;
    margin: 2em auto;
}
a{color:#fff;}
.num2{
    width: 50%;
}

@media screen and (max-width: 830px){
    h1{
     font-size: 1.3em;   
    }
    .desc{
        display: none;   
    }
}

@media screen and (max-width: 400px){
    h1{
     font-size: 1.1em;   
    }
    header span{
        display: none;   
    }
    .gist{
        width: 100%;
    }
}